
body {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar {
  min-width: 240px;
  max-width: 240px;
  min-height:100%;
  max-height:100%;
  background: #1d1919;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
 
  #sidebar .logo {
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto; }
 
    #sidebar .logo span {
      display: block; }
 
   #sidebar ul.components {
    padding: 0; }
  #sidebar ul li {
    font-size: 16px; }
  
    #sidebar ul li > ul {
      margin-left: 10px; }
  
   #sidebar ul li > ul li {
        font-size: 14px; }
  
     #sidebar ul li a {
      padding: 10px 0;
      display: block;
      color: rgba(255, 255, 255, 0.8);
      border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
  
      #sidebar ul li a:hover {
        color: #f8b739; }
    #sidebar ul li.active > a {
      background: transparent;
      color: #f8b739; }





#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (width: 320px) {
  #hideme{
    display:none;
  }
}
@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  .expense_item:hover, .excat_item:hover ,.user_item:hover, .role_item:hover{
    cursor:pointer;
    background:#eaeaea;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
